html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}


.navbar-custom {
  background-color: #0f2246 !important;
  width: 100%; 
  max-width: 400px;
  margin: 0 auto;
  top: 25px;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: 0px 5px;
}

.navbar-visible {
  transform: translateY(0);
}

.navbar-hidden {
  transform: translateY(-100%);
}

/* .hover-area {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
} */

.hover-area:hover + .navbar-custom, 
.navbar-custom:hover {
  opacity: 1;
  transform: translateY(0);
}

.navbar-nav {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  font-size: 0.9rem;
  padding: 5px 5px;
  color: #ffcc00 !important;
}


.home {
  position: relative;
  overflow: hidden; 
  padding: 100px 20px;
} 

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
  linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 30px 30px;
  z-index: 1; 
} 

.home h1,
.home p {
  position: relative;
  z-index: 2;
  color: #d3d3d3;
}

/* .home .container {
  position: relative;
  z-index: 2;
} */

.button-container {
  /* position: relative; */
  /* z-index: 3; */
}

.btn-purple {
  position: relative;
  background-color: #15072e;
  border-color: #6f42c1;
  color: white;
  padding: 0.2rem 2rem;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
  margin-top: 3rem;
}

.btn-purple:hover {
  background-color: #b6add1;
  border-color: #5a3eab;
}

.about-section {
  text-align: center;
}

.about-section h2 {
  font-size: 1rem;
  margin-bottom:1rem;
  color: #d3d3d3;
}

.about-section h3 {
  font-size: 1.5rem;
  color: #aaa;
  margin-bottom: 2rem;
}

.about-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.card {
  background-color: #111;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  flex: 1 1 250px;
  color: #d3d3d3;
  background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
  linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 15px 15px; /* Size of the squares */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Safari support */
  overflow: hidden; 
}

@media (max-width: 576px) {
  .card {
    max-width: 90%;
  }
}


.card h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.card p {
  font-size: 1rem;
  color: #999;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .about-cards {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center align cards */
  }
}

.button-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  background-color: rgb(41, 38, 38);
  padding: 1rem;
  border-radius: 10px;
  max-width: 1350px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}


@media (max-width: 768px) {
  .button-section {
    max-width: 100%;
  }
}

.button-section button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  color: #fff;
  max-width: 120px;
  background-color: hsl(24, 91%, 33%);
}


.journey-text {
  text-align: center;
  font-size: 1rem; 
  line-height: 1.5; 
  color: #d3d3d3; 
  margin-bottom: 3rem; 
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.educational-journey {
  list-style: none;
  padding: 0;
  margin: 0;
}

.education-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  flex-wrap: nowrap;
  margin-bottom: 2em;
}

.left-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
}

.left-content h2 {
  margin: 0;
  font-size: 1.5rem
}

.degree {
  font-style: italic;
  display: block;
  margin-top: 0.2em;
  color: #fff;
  font-size: 1.1rem
}

.year {
  text-align: right;
  font-weight: bold;
  min-width: 80px;
  color: #ffffff;
  font-size: 1.1rem;
}

.professional-journey {
  list-style: none;
  padding: 0;
  margin: 0;
}

.prof-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  flex-wrap: nowrap;
  margin-bottom: 1em;
}

.prof-left-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
}

.prof-left-content h2 {
  margin: 0;
  font-size: 1.5rem
}


.description-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  flex-wrap: nowrap;
  margin-bottom: 1em;
}


.description {
  display: flex;
  line-height: 1.4;
  max-width: 800px;
  width: 90%;
  color: #bbb;
  text-align: left;
} 

.description::before {
  content: "✅";
  margin-right: 0.3rem;
}


@media (max-width: 600px) {
  .year {
    align-self: flex-end;
    margin-top: 0.5em;
  }
  .left-content h2,
  .degree,
  .year {
    font-size: 1.2em;
  } 
}


#skills {
  padding: 40px;
  text-align: center;
  background-color: #000;
}

#skills h2 {
  font-size: 2.5rem;
  color: #bbb;
  margin-bottom: 20px;
}

#skills p {
  font-size: 1.2rem;
  color: #aaa;
  margin-bottom: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.skill-card {
  background-color: #222;
  padding: 20px;
  /* text-align: center; */
  border-radius: 8px;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-icon {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 10px;
}

.skill-card p {
  font-size: 1rem;
  color: #bbb;
  margin: 0;
}

.projects-section {
  padding: 4rem 2rem;
  background-color: #000;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
  linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 20px 20px;
}

.project-card {
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  height: 450px;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.project-title {
  font-size: 1.25rem;
  margin: 1rem 0;
  color: #555;
}

.project-description {
  font-size: 1rem;
  color: #999;
  height: 100px;
  overflow-y: auto;
  margin-top: 1rem;
  padding-right: 0.5rem;
  scrollbar-width: none;
}

.project-description::-webkit-scrollbar {
  display: none;
}

#projects p {
  color: #bbb;
}

#projects h2 {
  color: #bbb;
}
.project-link {
  display: inline-block;
  margin-top: 1rem;
  color: #007bff;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

.testimonials-section {
  background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
  linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 50px 50px;
  padding: 4rem 2rem;
  text-align: center;
  margin: 0;
}

.testimonials-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #bbb;
}

.comments {
  color: #666;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: #bbb;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 600px;
  text-align: center;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.client-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.client-name {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #aaa;
}

.client-role {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.testimonial-text {
  font-size: 1rem;
  color: #d6bfeb;
}

/* Contact section styling */
.contact-section {
  text-align: center;
  padding: 3rem 1.5rem;
  background-color: #000;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #bbb;
}

/* Social icons styling */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-icon {
  width: 40px; 
  height: 40px;
  transition: transform 0.3s, opacity 0.3s;
}

.icon:hover .social-icon {
  transform: scale(1.1); /* Slightly enlarge on hover */
  opacity: 0.8; /* Slight transparency effect */
}

/* @media (max-width: 768px) {
  .navbar-custom {
    padding: 5px 10px;
  }
}

@media (max-width: 600px) {
  li {
    align-items: start; 
    gap: 0.3rem;
    font-size: 0.9rem; 
    padding: 0.3rem 0; 
  }
} */

/* 
@media (min-width: 768px) {
  .button-section button {
    margin: 0 3rem; 
    max-width: 200px; 
  }
}

@media (max-width: 600px) {
  .button-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
  }
}

@media (max-width: 768px) {
  .about-cards {
    flex-direction: column;
    align-items: center;
  }

  .button-section {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
} */