html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
  /* margin: 20px; */
}

html, body {
  /* margin: 0; */
  /* padding: 0; */
  background-color: #000;
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.journey-text {
  text-align: center;
  font-size: 1.1rem; 
  line-height: 1.6; 
  color: #5d6175; 
  margin-bottom: 20px; 
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


/* Initially, the navbar is visible */
.navbar-custom {
  background-color: #0f2246 !important;
  width: 100%; 
  max-width: 400px;
  margin: 0 auto;
  top: 25px;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar-visible {
  transform: translateY(0);
}

.navbar-hidden {
  transform: translateY(-100%);
}

.nav-link {
  color: #fff !important;
}

.hover-area {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}

.hover-area:hover + .navbar-custom, 
.navbar-custom:hover {
  opacity: 1;
  transform: translateY(0);
}

.navbar-nav {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-link {
  color: #fff !important;
  flex: 1;
  text-align: center;
}


.home {
  position: relative;
  overflow: hidden; 
  padding: 100px 20px;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
  linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 30px 30px;
  z-index: 1; 
}

.home h1,
.home p {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

/* .home .container {
  position: relative;
  z-index: 2;
} */

/* .container {
  margin-top: 7rem;
  margin-bottom: 3rem;
} */

.button-container {
  position: relative;
  z-index: 3;
}

.btn-purple {
  position: relative;
  background-color: #15072e;
  border-color: #6f42c1;
  color: white;
  padding: 0.2rem 2rem;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
}

.btn-purple:hover {
  background-color: #b6add1;
  border-color: #5a3eab;
}

.about-section {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #000; /* Base color */
}

.about-section h2 {
  font-size: 2.5rem;
  /* margin-bottom:0.5rem; */
  color: #ffffff;
}

.about-section h3 {
  font-size: 1.5rem;
  color: #aaa;
  margin-bottom: 2rem;
}

.about-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.card {
  background-color: #111;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  flex: 1 1 250px;
  color: #ccc;
  background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
  linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 15px 15px; /* Size of the squares */
}

.card h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.card p {
  font-size: 1rem;
  color: #999;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .about-cards {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center align cards */
  }
}

.button-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 2rem auto;
  gap: 1rem;
  background-color: rgb(41, 38, 38);
  padding: 1rem 0;
  border-radius: 10px;
}

.button-section button {
  /* flex: none; */
  /* margin: 0 5rem; */
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  color: #fff;
  max-width: 120px;
}

/* Remove flex direction change for small screens */
@media (max-width: 600px) {
  .button-section {
    flex-wrap: nowrap;
  }

  .button-section button {
    max-width: 45%;
  }
}

.professional-journey {
  /* background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
  linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 30px 30px; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}


.professional-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.professional-title h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #7e2828;
}

.skills-year-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.skills-and-year {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skill-tags {
  /* margin-top: 2rem;  */
  flex-wrap: wrap;
  display: flex;
  gap: 0.5rem;
}

.skill-tag {
  /* padding: 0.3rem 0.7rem; */
  /* background-color: #333; */
  color: #bbb;
  border-radius: 15px;
  /* font-size: 0.9rem; */
  /* font-weight: 500; */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.skill-tag:hover {
  background-color: #6f42c1;
}


.year {
  /* font-size: 2rem; */
  color: #bbb;
  white-space: nowrap;
  margin-left: 1rem;
}

.description-container {
  margin-top: 1rem;
}

.description {
  line-height: 1.6;
  max-width: 800px;
  color: #bbb;
  margin-bottom: 0.5rem;
}


.description::before {
  content: "✅";
  margin-right: 0.3rem;
}


#skills {
  padding: 40px;
  text-align: center;
  background-color: #000;
}

#skills h2 {
  font-size: 2.5rem;
  color: #bbb;
  margin-bottom: 20px;
}

#skills p {
  font-size: 1.2rem;
  color: #aaa;
  margin-bottom: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.skill-card {
  background-color: #222;
  padding: 20px;
  /* text-align: center; */
  border-radius: 8px;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-icon {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 10px;
}

.skill-card p {
  font-size: 1rem;
  color: #bbb;
  margin: 0;
}

.projects-section {
  padding: 4rem 2rem;
  background-color: #000;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
  linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 20px 20px;
}

.project-card {
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  height: 450px;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.project-title {
  font-size: 1.25rem;
  margin: 1rem 0;
  color: #555;
}

.project-description {
  font-size: 1rem;
  color: #999;
  height: 100px;
  overflow-y: auto;
  margin-top: 1rem;
  padding-right: 0.5rem;
  scrollbar-width: none;
}

.project-description::-webkit-scrollbar {
  display: none;
}

#projects p {
  color: #bbb;
}

#projects h2 {
  color: #bbb;
}
.project-link {
  display: inline-block;
  margin-top: 1rem;
  color: #007bff;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

.testimonials-section {
  background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
  linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 50px 50px;
  padding: 4rem 2rem;
  text-align: center;
  margin: 0;
}

.testimonials-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #bbb;
}

.comments {
  color: #666;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: #bbb;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 600px;
  text-align: center;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.client-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.client-name {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #aaa;
}

.client-role {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.testimonial-text {
  font-size: 1rem;
  color: #d6bfeb;
}

/* Contact section styling */
.contact-section {
  text-align: center;
  padding: 3rem 1.5rem;
  background-color: #000;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #bbb;
}

/* Social icons styling */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-icon {
  width: 40px; 
  height: 40px;
  transition: transform 0.3s, opacity 0.3s;
}

.icon:hover .social-icon {
  transform: scale(1.1); /* Slightly enlarge on hover */
  opacity: 0.8; /* Slight transparency effect */
}

/* @media (max-width: 768px) {
  .navbar-custom {
    padding: 5px 10px;
  }
}

@media (max-width: 600px) {
  li {
    align-items: start; 
    gap: 0.3rem;
    font-size: 0.9rem; 
    padding: 0.3rem 0; 
  }
} */

/* 
@media (min-width: 768px) {
  .button-section button {
    margin: 0 3rem; 
    max-width: 200px; 
  }
}

@media (max-width: 600px) {
  .button-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
  }
}

@media (max-width: 768px) {
  .about-cards {
    flex-direction: column;
    align-items: center;
  }

  .button-section {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
} */